@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=JetBrains+Mono:wght@400;700&family=Great+Vibes&family=Archivo+Black&family=Roboto+Condensed&family=Montserrat&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Yeseva+One&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

::selection {
  background-color: #e97eff;
  color: #000;
  line-height: 1.8rem;
}

:root {
  --blue: #75f0f3;
  --green: #83f583;
  --yellow: #f6ff00;
  --pink: #f888d6;
  --red: #ff9c9c;
  --violet: #dd5eff;
  --black: #1a1919;
  --white: #f9f5f5;
}

:root[data-theme="light"] {
  --color: #1a1919;
  --bg: #fdf8f8;
  --dark-img: none;
  --light-img: inline;
}

:root[data-theme="dark"] {
  --color: #f3f1f1;
  --bg: #1a1919;
  --dark-img: inline;
  --light-img: none;
}

:root[data-theme="violet"] {
  --color: #e1f0f0;
  --bg: #21002c;
  --dark-img: inline;
  --light-img: none;
}

:root[data-theme="black"] {
  --color: #ffffff;
  --bg: #000000;
  --dark-img: inline;
  --light-img: none;
}

:root[data-theme="sepia"] {
  --color: #000000;
  --bg: #f9f4e7;
  --dark-img: none;
  --light-img: inline;
}

.light-pfp {
  display: var(--light-img);
}

.dark-pfp {
  display: var(--dark-img);
}

:root[data-font="serif"] {
  --font: "Libre Baskerville", 'Times New Roman', Times, serif;
  --heading-font: "Yeseva One", 'Times New Roman', Times, serif;
}

:root[data-font="sans-serif"] {
  --font: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --heading-font: "Roboto Condensed", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  ;
}

:root[data-font="monospace"] {
  --font: "Fira Code", 'Courier New', Courier, monospace;
  --heading-font: "JetBrains Mono", 'Courier New', Courier, monospace;
}

body {
  background-color: var(--bg);
  color: var(--color);
  font-family: var(--font);
  font-size: 1.2rem;
  line-height: 2rem;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  font-weight: 700;
}

.index-nav {
  border: 2px solid var(--color);
}

.index-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: inherit;
}

.m_index_nav {
  display: none;
}

.index-nav-title {
  font-family: 'Archivo Black', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.4rem;
  display: block;
  color: var(--color);
  text-align: center;
  cursor: pointer;
  padding: 14px 16px;
  border: 0;
  border-right: 2px;
  border-style: solid;
  border-color: var(--color);
}

.index-nav li {
  float: left;
}

.index-nav li a {
  font-family: 'Raleway', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.4rem;
  display: block;
  color: var(--color);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.index-nav li a:hover {
  color: var(--color);
  background-color: inherit;
}

.index_m_nav {
  display: none;
  border: 2px;
  border-style: solid;
  border-color: var(--color);
}

.tldr{
  font-family: 'Raleway', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1rem;
  display: block;
  color: var(--color);
  border: 0;
  border-right: 2px;
  border-style: solid;
  border-color: var(--color);
}

.tldr span{
  background-color: var(--blue);
  color: var(--black);
  padding: 0.5rem;
  border: 2px solid var(--color);
  cursor: pointer;
}

.index_m_nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: inherit;
  /* padding-right: 5rem; */
}

.index_m_nav li {
  float: middle;
}

.index_m_nav li a {
  font-family: 'Raleway', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.4rem;
  display: block;
  color: var(--color);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.index_m_nav li a:hover {
  color: var(--color);
  background-color: inherit;
}

.index_m_nav .nav-title {
  font-family: 'Raleway', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.4rem;
  display: block;
  color: var(--color);
  text-align: center;
  padding: 14px 16px;
  border: 2px;
  border-style: solid;
  border-color: var(--color);
}

.index_m_nav #options {
  display: none;
}

.m_sub_title {
  display: none;
  font-family: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
}

.m_sub_title a {
  font-size: 1rem;
  margin: 12px;
  text-decoration: none;
  border: 2px solid var(--color);
  padding: 3px;
}

#op_toggle {
  border: 0;
  border-radius: 12px;
  padding-left: 12px;
  padding-right: 12px;
}

.underline {
  display: inline-block;
  position: relative;
}

.underline:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--color);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.underline:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.home {
  text-align: center;
}

.notes{
  text-align: left;
  padding: 2rem;
}

.notes img{
  max-width: 100%;
  height: fit-content;
}

.notes ul{
  list-style-type: none;
  margin: 0;
  padding: 2px 0;
}

.home h2,h3{
  font-family: 'Roboto Condensed', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
}

.home p{
  font-family: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
}

.index-title {
  font-family: "Roboto Condensed", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 8rem;
  color: var(--color);
  font-weight: 700;
  margin: 2rem;
  line-height: 5rem;
}

.index-title p {
  display: none;
}

.main-title {
  font-family: "Roboto Condensed", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 4rem;
  color: var(--color);
  font-weight: 700;
  margin: 2rem;
}

.sub_title {
  font-size: 1.8rem;
  margin: 6rem 0 4rem 0;
  font-family: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
}

.sub_title a {
  color: var(--black);
  text-decoration: none;
  border: 2px solid var(--color);
  padding: 12px;
  font-size: 2rem;
}

.m_sub_title {
  display: none;
  margin: 1.8rem;
  font-family: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
}

.m_sub_title a {
  font-size: 1.2rem;
  color: var(--black);
  border: 2px solid var(--color);
  padding: 3px;
}

.profile-pic {
  width: 9rem;
  vertical-align: middle;
  border-radius: 50%;
  margin-right: 1.2rem;
  margin-bottom: 1rem;
}

.typewriter {
  text-align: center;
  font-family: 'Roboto Condensed', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 3rem;
  color: var(--color);
  margin-bottom: 1rem;
}

.scroll_btn {
  cursor: pointer;
  background-color: var(--bg);
  color: var(--color);
  font-size: 4rem;
  border: 0px;
}

.hero {
  padding: 2rem;
  height: 100vh;
}

.color-div {
  font-family: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: var(--yellow);
  color: var(--black);
  font-size: 1.2rem;
  line-height: 2rem;
  margin: 2rem 3rem;
  padding: 2rem;
  border: 2px solid var(--color);
}

.color-div h1 {
  font-family: "Roboto Condensed", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 5rem;
  margin: 3vw 0;
}

.color-div a {
  color: var(--black);
}

.color-div a:hover {
  color: var(--black);
  background-color: var(--white);
}

.color-div p {
  font-family: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: justify;
  font-size: 1.2rem;
  line-height: 2rem;
}

.skills {
  line-height: 3rem;
}

.skills ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}

.skills li {
  display: flex;
  margin: 1rem;
  font-size: 1.5rem;
}

.skills svg {
  vertical-align: middle;
  width: 32px;
  margin: 0 1rem;
}

.random-div {
  display: flex;
}

.div-content {
  text-align: justify;
  font-family: var(--font);
  line-height: 2rem;
  margin: 0 1rem;
}

.link-btn {
  background: var(--bg);
  font-family: inherit;
  padding: 0.6em 1.3em;
  font-weight: 900;
  font-size: 18px;
  border: 3px solid black;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
}

.link-btn:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
}

.link-btn a {
  text-decoration: none;
  color: black;
}

.link-btn a:hover {
  color: black;
  background-color: inherit;
}

.link-btn:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}

.footer {
  background-color: var(--bg);
  color: var(--color);
  font-size: 2rem;
  font-family: "Roboto Condensed", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 3rem;
  font-weight: 700;
  padding: 2rem;
  /* border: 2px solid var(--color); */
}

.repo {
  background-color: var(--bg);
  color: var(--black);
  border: 2px solid var(--color);
  margin: 2vw 10vw;
  padding: 2vw;
}

.repo img {
  border-radius: 50%;
  width: 32px;
  vertical-align: middle;
  margin: 0.5rem;
}

.repo a {
  font-size: 2rem;
  font-family: "Roboto Condensed", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-decoration: none;
  color: var(--black);
}

.repo a:hover {
  text-decoration: none;
  color: var(--black);
  background-color: inherit;
}

.repo button a {
  text-decoration: none;
  color: var(--black);
}

.repo button a:hover {
  color: var(--black);
  text-decoration: none;
  background-color: inherit;
}

#settings-container {
  text-align: center;
  display: none;
}

#settings {
  margin: 2px 12px;
}

#settings-container button {
  padding: 12px;
  background-color: var(--bg);
  color: var(--color);
  border: 2px solid var(--color);
  margin: 2px 12px;
  cursor: pointer;
}

#settings-container button:hover {
  background-color: var(--color);
  color: var(--bg);
}

@media screen and (max-width: 1020px) {
  .index-nav {
    display: none;
  }

  .index_m_nav {
    display: block;
  }

  .index-title {
    font-size: 6.6rem;
  }

  #profile {
    width: 80vw;
  }

  .random-div {
    display: block;
  }

  .random-div img {
    width: 80%;
  }

  .nav-title img {
    width: 3rem;
  }

  .color-div h1 {
    font-size: 3rem;
  }

  .color-div {
    margin: 1rem 0.5rem;
    padding: 1rem;
  }

  .main-title {
    font-size: 3rem;
  }

  .repo {
    margin: 1rem 0.5rem;
    padding: 1rem;
  }

  .repo a {
    font-size: 1.2rem;
  }

  .notes img{
    width: 100%;
  }
}

@media screen and (max-width: 727px) {
  p {
    font-size: 1rem;
  }

  #profile {
    width: 50vw;
  }

  .index-title {
    font-size: 4.4rem;
  }

  .index-title p {
    display: block;
  }

  .sub_title {
    display: none;
  }

  .m_sub_title {
    display: block;
  }

  .profile-pic {
    width: 10rem;
    border-radius: 50%;
  }

  .typewriter {
    text-align: center;
    font-family: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.8rem;
    color: var(--color);
    margin-bottom: 4rem;
  }

  .skills ul,
  li {
    display: block;
  }

  .footer {
    padding: 0px;
    font-size: 1.5rem;
  }
}