::selection {
  background-color: var(--selection-bg);
  color: var(--selection-color);
}

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #d5d5d500;
}

/* Handle */
::-webkit-scrollbar-thumb {
  height: 5px;
  background: #a5a5a5;
  border-radius:5px;
  border: 2px solid #000000;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #979797;
}

:root {
  --blue: #75f0f3;
  --green: #83f583;
  --yellow: #f6ff00;
  --pink: #f888d6;
  --red: #ff9c9c;
  --violet: #dd5eff;
  --black: #1a1919;
  --white: #f9f5f5;
  --blog-font-size: 1.2rem;
  --blog-line-height: 1.8rem;
  --font: "Atkinson Hyperlegible", -apple-system, sans-serif;
}

:root[data-theme="light"] {
  --color: #1a1919;
  --bg: #fdfdfd;
  --blog-bg: #f1f1f1;
  --footer-bg: #8df5f5;
  --dark-img: none;
  --light-img: inline;
  --link: #001eff;
  --selection-color: #0a0a0a;
  --selection-bg: #bcbcbc;
}

:root[data-theme="dark"] {
  --color: #f3f1f1;
  --bg: #06000e;
  --blog-bg: #131921;
  --footer-bg: #111111;
  --dark-img: inline;
  --light-img: none;
  --link: #10ffe7;
  --selection-color: #000000;
  --selection-bg: #ffeb11;
}

:root[data-theme="violet"] {
  --color: #e1f0f0;
  --bg: #21002c;
  --blog-bg: #21002c;
  --footer-bg: #020006;
  --dark-img: inline;
  --light-img: none;
  --link: #fff200;
  --selection-color: #fffdfd;
  --selection-bg: #1d3bfd;
}

:root[data-theme="black"] {
  --color: #ffffff;
  --bg: #000000;
  --blog-bg: #000;
  --footer-bg: #000;
  --dark-img: inline;
  --light-img: none;
  --link: #fff200;
  --selection-color: #fffdfd;
  --selection-bg: #1d3bfd;
}

:root[data-theme="sepia"] {
  --color: #000000;
  --bg: #f2ecac;
  --blog-bg: #feffb9;
  --footer-bg: #8df5f5;
  --dark-img: none;
  --light-img: inline;
  --link: #001eff;
  --selection-color: #0a0a0a;
  --selection-bg: #ffff60;
}

.light-pfp {
  display: var(--light-img);
}

.dark-pfp {
  display: var(--dark-img);
}

:root[data-font="serif"] {
  --font: "Libre Baskerville", 'Times New Roman', Times, serif;
  --heading-font: "Yeseva One", 'Times New Roman', Times, serif;
}

:root[data-font="sans-serif"] {
  --font: "Atkinson Hyperlegible", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --heading-font: "Roboto Condensed", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  ;
}

:root[data-font="monospace"] {
  --font: "Fira Code", 'Courier New', Courier, monospace;
  --heading-font: "JetBrains Mono", 'Courier New', Courier, monospace;
}

body {
  background-color: var(--bg);
  color: var(--color);
  font-size: 1.2rem;
  line-height: 2rem;
  margin: 0;
}

h1,
h2,
h3 {
  font-family: "Roboto Condensed", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
}

.notes {
  text-align: left;
  padding: 2rem;

  img {
    max-width: 100%;
    height: fit-content;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 2px 0;
  }

  @media screen and (max-width: 1020px) {
    img {
      width: 100%;
    }
  }
}

.index-nav {
  border: 2px solid var(--color);

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: inherit;
  }

  li {
    float: left;
  }

  li a {
    font-family: 'Raleway', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.4rem;
    display: block;
    color: var(--color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    color: var(--color);
    background-color: inherit;
  }

  .index-nav-title {
    font-family: 'Archivo Black', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.4rem;
    display: block;
    color: var(--color);
    text-align: center;
    cursor: pointer;
    padding: 14px 16px;
    border: 0;
    border-right: 2px;
    border-style: solid;
    border-color: var(--color);
  }

  .nav-title {
    font-family: 'Raleway', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.4rem;
    display: block;
    color: var(--color);
    text-align: center;
    padding: 14px 16px;
    border: 2px;
    border-style: solid;
    border-color: var(--color);
  }

  @media screen and (max-width: 1020px) {
    display: none;

    img {
      width: 3rem;
    }

  }
}

.m_index_nav {
  display: none;

  @media screen and (max-width: 1020px) {
    display: block;
  }
}

.index_m_nav {
  font-family: "Roboto Condensed", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  padding: 1rem;
  font-size: 2rem;
  display: none;
  border: 2px;
  border-style: solid;
  border-color: var(--color);

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: inherit;
  }

  li {
    float: middle;
  }

  li a {
    font-family: 'Raleway', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.4rem;
    display: block;
    color: var(--color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    color: var(--color);
    background-color: inherit;
  }

  #options {
    display: none;
  }
  @media screen and (max-width: 1020px) {
    display: block;
  }
}

#op_toggle {
  border: 0;
  border-radius: 12px;
  padding-left: 12px;
  padding-right: 12px;
}

.underline {
  display: inline-block;
  position: relative;
}

.underline:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--color);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.underline:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.profile-pic {
  width: 9rem;
  vertical-align: middle;
  border-radius: 50%;
  margin-right: 1.2rem;
  margin-bottom: 1rem;
}

.typewriter {
  text-align: center;
  font-family: 'Roboto Condensed', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 3rem;
  color: var(--color);
  margin-bottom: 1rem;
}

.scroll_btn {
  cursor: pointer;
  background-color: inherit;
  color: var(--color);
  font-size: 4rem;
  border: 0px;
}

.hero {
  height: 100vh;
}

.color-div {
  font-family: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: var(--yellow);
  color: var(--black);
  font-size: 1.2rem;
  line-height: 2rem;
  margin: 2rem 3rem;
  padding: 2rem;
  border: 2px solid var(--color);

  h1 {
    font-family: "Roboto Condensed", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 5rem;
    margin: 3vw 0;
  }

  a {
    color: var(--black);
  }

  a:hover {
    color: var(--black);
    background-color: var(--white);
  }

  p {
    font-family: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: justify;
    font-size: 1.2rem;
    line-height: 2rem;
  }

  @media screen and (max-width: 1020px) {
    margin: 1rem 0.5rem;
    padding: 1rem;

    h1 {
      font-size: 3rem;
    }
  }
}

.update_div {
  margin: 0 10vw;

  p {
    font-size: 1.2rem;
    font-family: var(--font);
  }
}

.skills {
  line-height: 3rem;

  ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }

  li {
    display: flex;
    margin: 1rem;
    font-size: 1.5rem;
  }

  svg {
    vertical-align: middle;
    width: 32px;
    margin: 0 1rem;
  }
}

.random-div {
  display: flex;
}

.div-content {
  text-align: justify;
  font-family: var(--font);
  line-height: 2rem;
  margin: 0 1rem;
}

.link-btn {
  background: var(--white);
  font-family: inherit;
  padding: 0.6em 1.3em;
  font-weight: 900;
  font-size: 18px;
  border: 3px solid black;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
}

.link-btn:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
}

.link-btn a {
  text-decoration: none;
  color: black;
}

.link-btn a:hover {
  color: black;
  background-color: inherit;
}

.link-btn:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}

.footer {
  text-align: center;
  background-color: var(--bg);
  color: var(--color);
  font-size: 2rem;
  font-family: "Roboto Condensed", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 3rem;
  font-weight: 700;
  padding: 2rem;
  /* border: 2px solid var(--color); */
}

.repo {
  background-color: var(--bg);
  color: var(--black);
  border: 2px solid var(--color);
  margin: 2vw 10vw;
  padding: 2vw;

  img {
    border-radius: 50%;
    width: 32px;
    vertical-align: middle;
    margin: 0.5rem;
  }

  a {
    font-size: 2rem;
    font-family: "Roboto Condensed", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    color: var(--black);
  }

  a:hover {
    text-decoration: none;
    color: var(--black);
    background-color: inherit;
  }

  button a {
    text-decoration: none;
    color: var(--black);
  }

  button a:hover {
    color: var(--black);
    text-decoration: none;
    background-color: inherit;
  }

  img {
    width: auto;
    height: auto;
  }

  @media screen and (max-width: 1020px) {
    margin: 1rem 0.5rem;
    padding: 1rem;

    a {
      font-size: 1.2rem;
    }
  }

}

.updates_div {
  text-align: justify;
  margin: 5vw 10vw;
  max-width: 50vw;
  font-family: "Atkinson Hyperlegible", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 2rem;

  a {
    color: var(--link);
    padding: 0;
    margin: 0;
  }

  .main_update {
    font-size: 1.2rem;
    font-family: var(--font);
    line-height: 1.8rem;
    margin: 1rem 0;
  }

  @media screen and (max-width: 1020px) {
    margin: 1rem 0.5rem;
    padding: 1rem;
    max-width: none;
    a {
      font-size: 1.2rem;
    }
  }    
}

.resume_skills ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  li {
    margin: 1rem;
    font-size: 1.5rem;
  }

  svg {
    vertical-align: middle;
    width: 32px;
    margin: 0 0.5rem;
  }
}

#settings-container {
  text-align: center;
  display: none;
}

#settings {
  margin: 2px 12px;
}

#settings-container button {
  padding: 12px;
  background-color: var(--bg);
  color: var(--color);
  border: 2px solid var(--color);
  margin: 2px 12px;
  cursor: pointer;
}

#settings-container button:hover {
  background-color: var(--color);
  color: var(--bg);
}

@media screen and (max-width: 1020px) {
  .random-div {
    display: block;
  }

  .random-div img {
    width: 80%;
  }

  .img_div img {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 727px) {
  p {
    font-size: 1.2rem;
  }

  #profile {
    width: 50vw;
  }

  .index-title {
    font-size: 5.4rem;
    line-height: 5.8rem;
  }

  .index-title p {
    display: block;
  }

  .sub_title {
    display: none;
  }

  .mobile_title {
    display: block;
  }

  .profile-pic {
    width: 10rem;
    border-radius: 50%;
  }

  .typewriter {
    text-align: center;
    font-family: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.8rem;
    color: var(--color);
    margin-bottom: 4rem;
  }

  .skills ul,
  li {
    display: block;
  }

  .footer {
    padding: 0px;
    font-size: 1.5rem;
  }
}