.home{
    .nav{
        background-color: var(--bg);
        color: var(--color);
        border-bottom: 3px solid var(--color);
        font-family: 'Scheherazade', 'Times New Roman', Times, serif;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding-top: 1.2rem;
        cursor: pointer;
        @media screen and (max-width: 1024px) {
                display: none;
            }
    }

    .nav__img img{
        width: 6rem;
        vertical-align:middle;
        margin: 0;
        padding-bottom: 1rem;
    }
    .nav__title h1{
        display: flex;
        padding: 0;
        padding-left: 12px;
        font-size: 128px;
        line-height: 1;
        font-weight: 700;
        margin: 0;
        text-transform: uppercase;
    }
    .nav__content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
        font-family: "Scheherazade New", 'Times New Roman', Times, serif;
        border-bottom: 3px solid var(--color);
        ul{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin: 0;
            padding: 0;
            list-style: none;
            li{
                margin: 0;
                padding: 0;
                a{
                    display: block;
                    padding: 1rem 1.5rem;
                    text-decoration: none;
                    color: var(--color);
                    font-size: 1.8rem;
                    line-height: 2rem;
                    font-weight: 400;
                    text-transform: capitalize;
                    &:hover{
                        color: var(--link);
                    }
                }
            }
        }
    @media screen and (max-width: 1024px) {
        display: none;
    }
    }
}