.main-card {
    box-shadow: 6px 9px 48px 10px var(--color);
    -webkit-box-shadow: 6px 9px 48px 10px var(--color);
    -moz-box-shadow: 6px 9px 48px 10px var(--color);
    border-radius: 24px;
    margin: 5% 10%;
    margin-top: 0px;
    padding: 2%;
    text-align: center;
}

.social-btn {
    font-size: 2rem;
    width: 50%;
    padding: 2%;
    margin: 1%;
    border-radius: 24px;
    border: 1px solid var(--color);
    background-color: var(--bg);
    color: var(--color);
    transition-duration: 0.5s;
    transition-delay: 0.1s;
}

.social-btn a {
    text-decoration: none;
    color: var(--color);
}

.social-btn a:hover {
    color: var(--color);
    background-color: var(--bg);
}

@media screen and (max-width: 698px) {
    .main-card {
        margin: 2%;
    }

    .btn-link {
        text-decoration: none;
        color: #000;
        display: block;
        font-size: 1rem;
    }
}

@media screen and (max-width: 698px) {
    .social-btn {
        font-size: 1rem;
        width: 80%;
        padding: 3.5%;
    }
}

.bi-github {
    transition-duration: 0.5s;
    transition-delay: 0.1s;
}

.bi-github:hover,
.bi-github:focus {
    color: rgb(73, 73, 73);
    font-size: 2.5rem;
}


.bi {
    transition-duration: 0.5s;
    transition-delay: 0.1s;
}

.bi-github:hover,
.bi-github:focus {
    color: rgb(73, 73, 73);
    font-size: 2.5rem;
}

.bi-twitter:hover,
.bi-twitter:focus {
    color: rgb(13, 217, 227);
    font-size: 2.5rem;
}

.bi-youtube:hover,
.bi-youtube:focus {
    color: rgb(237, 10, 10);
    font-size: 2.5rem;
}

.bi-instagram:hover,
.bi-instagram:focus {
    color: rgb(253, 0, 118);
    font-size: 2.5rem;
}

.bi-envelope:hover,
.bi-envelope:focus {
    color: rgb(73, 73, 73);
    font-size: 2.5rem;
}

.bi-discord:hover,
.bi-discord:focus {
    color: rgb(44, 125, 255);
    font-size: 2.5rem;
}

.bi-twitch:hover,
.bi-twitch:focus {
    color: rgb(172, 39, 248);
    font-size: 2.5rem;
}